body {
  padding-top: 50px;
}

.navbar {
  background-color: white;
  padding: 10px 0;
  color: #2ac99a;
  border-bottom: 1px solid #efefef;
  width: 100%;
  max-width: 600px;
  /*height:35px;*/
  position: fixed !important;
  top: 0;
  left:50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 12000;

  span.curQueNum {
    font-size: 20px;
  }

  div.navBtn {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .preQue, .nextQue {
    border: 1px solid #2ac99a;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .preQue {
    float: left;
    margin-left: 2.5%;
    &:active{
      background-color: #d8d8d8;;
    }
  }

  .nextQue {
    float: right;
    margin-right: 2.5%;
    &:active{
      background-color: #d8d8d8;;
    }
  }

  div.navBtn img {
    width: 10px;
    height: 10px;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;

    margin-left: 5px;
    position: relative;
    top: -2px;
  }

  div.navBtn img.hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.serialCard {
  max-width: 600px;
  position: fixed;
  /*top:-150px;*/
  top: 54px;
  left:50%;

  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;

  -webkit-transform: translate3d(-50%, -100%, 0);
  -moz-transform: translate3d(-50%, -100%, 0);
  -o-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);

  padding: 10px 0 0 0;
  width: 100%;
  z-index: 10000;
  background-color: white;

  p {
    text-align: center;
    margin: 10px auto 20px auto;
    color: #2ac99a;
  }

  div {
    width: 90%;
    margin: 0 auto;
  }

  span {
    color: white;
    margin: 5px 2%;
    background-color: #e1e1e1;
    border-radius: 14px;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
  }

  span.r_hover {
    box-shadow: 0 0 0 4px #2ac99a
  }

  span.w_hover {
    box-shadow: 0 0 0 4px #f05836
  }

  span.g_hover {
    box-shadow: 0 0 0 4px #e1e1e1
  }

  span.active {
    color: #49afdc;
    background-color: #ffffff;
    border: 1px solid #49afdc;
  }

  span.finished {
    color: #fff;
    background-color: #65bee6;
  }

  span.selectright {
    color: #fff;
    background-color: #2ac99a;
  }

  span.selectwrong {
    color: #fff;
    background-color: #f05836;
  }
  &.hover{
    -webkit-transform: translate3d(-50%, -10px, 0);
    -moz-transform: translate3d(-50%, -10px, 0);
    -o-transform: translate3d(-50%, -10px, 0);
    transform: translate3d(-50%, -10px, 0);
  }
  .submitBtnSC{
    width:100%;
    border-top:1px solid #b9b9b9;
    text-align: center;
    padding:15px 0;
    margin-top:10px;
    color:#2ac99a;
    font-size:14px;
    &:active{
      background-color: #b9b9b9;
    }
  }
  small.leftTop{
    color:#2ac99a;
    margin-left:5px;
  }
  small.rightTop{
    float:right;
    color:#2ac99a;
    margin-right:5px;
    margin-top:3px;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;

  display: none;

  /*-webkit-transition:-webkit-opacity 0.5s ease;*/
  /*-moz-transition:-moz-opacity 0.5s ease;*/
  /*-o-transition:-o-opacity 0.5s ease;*/
  /*transition:opacity 0.5s ease;*/

  /*-webkit-transform:translate3d(0, 100%, 0);*/
  /*-moz-transform:translate3d(0, 100%, 0);*/
  /*-o-transform:translate3d(0, 100%, 0);*/
  /*transform:translate3d(0, 100%, 0);*/
}

.mask.hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  display:block;
}