<section id="page">
    <section id="content">
        <div class="question">
            <div>
                <p ng-repeat="text in question.question_text">{{text}}</p>
            </div>
        </div>
        <!---
        <section class="line"></section>
        --->
        <div class="answer">
            <ul>
                <li class="right" ng-repeat="(key,option) in question.options" ng-click="toggle($index)">
                    <div class="contentInner">
                        <span><a ng-class="{active:$index===selectedIndex}">{{key}}</a> {{option}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <span class="submitBtn" ng-if="activeIndex == questions.data.length" ng-click="submit()">提交</span>
</section>